body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 24px;
    height: 490px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    border-radius: 12px;
    width: 100px;
}

/* h2 has a default margin. This gets rid of the empty space above header */
h2 {
    margin-top: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.right {
    display: flex;
    gap: 32px;
    background-color: green;
    
}

.header-image {
    width: 500px;
    height: 300px;
}

